<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <form ng-submit="">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input ng-model="matrixSize" type="number" class="form-control" id="matrixSize"
                           placeholder="Size of matrix">
                    <span class="input-group-btn">
                        <button ng-click="generateMatrix()" class="btn btn-primary" type="button">Generate</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div>
            <div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div>
            <div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div>
            <div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div><div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div><div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div><div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div><div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div>
            <div class="row">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
                <input type="text" class="col-xs-1">
            </div>
        </div>
    <span ng-repeat="test in tests track by $index">
        <div>{{test}}</div>

    </span>

        <!--<div ng-repeat="line in matrixLines" class="row">-->

        <!--</div>-->

    </form>
</div>
