<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <form ng-submit="">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input ng-model="matrixSize" type="number" class="form-control" id="matrixSize"
                           placeholder="Size of matrix">
                    <span class="input-group-btn">
                        <button ng-click="resetData(); loadPage();" class="btn btn-primary" type="button">Generate</button>
                    </span>
                </div>
            </div>
        </div>
        <!--TODO make dynamic input size-->
        {{horizontalPageSize}}
        {{currentPage}}
        {{previousPage}}
        <div ng-show="generatedMatrix.length > 0" class="text-center">
            <ul uib-pagination total-items="matrixSize" items-per-page="horizontalPageSize" ng-change="loadHorizontalPage()" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            <!--<button ng-click="loadLeft()" ng-disabled="!showLessHorizontal" class="pull-left">hi</button>-->
            <!--<button ng-click="loadRight()" ng-disabled="!showMoreHorizontal" class="pull-right">bye</button>-->
        </div>
        <div ng-if="generatedMatrix.length > 0" infinite-scroll="loadPage()" infinite-scroll-disabled='loading || !showMore' style="margin: 3px 0;">

            <div ng-repeat="row in generatedMatrix track by $index" >
                <!--TODO make scrollable input (by page)-->
                {{$index + 1}}
                <input type="text" ng-model="row" class="form-control matrix-input">
            </div>
        </div>
    </form>
</div>
